.preview-dialog-fullsize {
  .mat-mdc-dialog-container {
    padding: 0 !important;
    border-radius: 16px !important;
    overflow: hidden !important;
  }

  .mdc-dialog__surface {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
  }
}